.env

controllers
controllers/currencies.controller.js
controllers/users.controller.js
controllers/users.controllerWithoutJOI.js

middlewares
middlewares/userSearchValidator.js
middlewares/verifyAuth.js


validators

db
